* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #368C7C;
}
p {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.degree {
    font-size: 28px;
    text-align: center;
}
.date {
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #368C7C;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1 {
    font-size: 24px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: #202020;
    color: white;
}
button {
    text-transform: uppercase;
    text-align: center;
    background-color: #368C7C;
    padding: 5px 15px 5px 15px;
}
/* List stile */
ul {
   list-style-type: none;
   line-height: 35px;
}
.hour-degree {
    font-weight: bold;
    padding: 0 15px 0 15px;
}
.humidity {
    font-weight: bold;
    padding: 0 15px 0 15px;
}

